* {
    margin: 0px auto;
}

#navF {
    padding: 30px 0px;

    width: 1000px;
}

.wrapper {
    background-color: #E32;
    width: 1000px;
}

.wrapper > header {
    background-color: #234;
    text-align: center;
}

.wrapper > header > h1 {
    padding: 40px 0px 15px 0px;
    font-size: 24pt;
    color: #fff;
}

#headNavLeft {
    display: inline-block;
    vertical-align: top;
    width: 60%;
}

#headNavLeft > ul {
    list-style: none;
}

#headNavLeft > ul > li {
    display: inline-block;
    margin-right: 5px;
}

#headNavLeft > ul > li > a {
    text-transform: uppercase;
    display: inline-block;
    padding: 5px 15px;
    color: black;
    text-decoration: none;
}

#headNavRight {
    display: inline-block;
    vertical-align: top;
    text-align: right;
}

#headNavRight > ul {
    list-style: none;
}

#headNavRight > ul > li {
    display: inline-block;
    margin-right: 5px;
}

#headNavRight > ul > li > a {
    text-transform: uppercase;
    display: inline-block;
    padding: 5px 15px;
    color: black;
    text-decoration: none;
}

#officeGirl {
    border-bottom: 3px solid rgba(40, 40, 40, 0.5);
    background-color: #D10;
    border-radius: 10px;
    margin: 20px 0px;
    min-height: 10px;
    height: auto;
    width: 100%;
}

.widgets .widget {
    width: calc(33.333% - 30px);
    margin: 0px 5px 25px 5px;
    display: inline-block;
    vertical-align: top;

}

.widgets .widget > header {
    border-bottom: 1px solid rgba(100, 100, 100, 0.2);
    margin-bottom: 20px;
    padding: 20px 0px;
    text-align: left;
    text-decoration: none;
}

.widgets .widget p > .widget-button {
    background-color: #234;
    display: inline-block;
    border-radius: 5px;
    padding: 5px 15px;
    color: white;
    text-decoration: none;
}

.alert {
    border-left: 1px solid #777;
    border-top: 1px solid #777;
    background-color: #63b797;
    border-radius: 5px;
    padding: 30px;
    height: 120px;
    font-size: 16pt;
}

.alert .alert-icon {
    margin-right: 20px;
    float: left;
    width: 50%;
}

.alert .alert-button {
    border-left: 2px solid #222;
    border-top: 2px solid #222;
    text-transform: uppercase;
    background-color: #222;
    border-radius: 5px;
    padding: 10px 20px;
    margin-left: 100px;
    font-size: 24pt;
    color: white;
    float: right;
    text-decoration: none;
}

.alert .alert-button:hover {
    border-bottom: 2px solid #727272;
    border-right: 2px solid #727272;
    border-left: #727272;
    border-top: #727272;
    background-color: #727272;
}

.wrapper > footer {
    background-color: #234;
    text-align: center;
    padding: 30px 0px;
    font-size: 8pt;
    color: white;
}

.icon {
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    height: 30px;
    width: 30px;
}
