<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


	<bean id="person" class="com.engineering.projekat.maven.Person"
		init-method="onCreate" destroy-method="onDestroy">
		<constructor-arg name="name" type="String" value="Pera Peric"></constructor-arg>
		<constructor-arg name="jmbg" type="int" value="316535"></constructor-arg>
		<property name="age" value="35"></property>
		<property name="address" ref="address"></property>
	</bean>
	<bean id="address" class="com.engineering.projekat.maven.Address">
		<constructor-arg name="street" type="String"
			value="Milutina milankovica">
		</constructor-arg>
		<constructor-arg name="postalCode" type="String"
			value="11070">
		</constructor-arg>
	</bean>
	<bean id="student" class="com.engineering.projekat.maven.Student">
		<property name="name" value="Dusan Arizanovic"></property>
		<property name="index" ref="index"></property>
	</bean>
	<bean id="index" class="com.engineering.projekat.maven.Index">
		<property name="number" value="616841365"></property>
		<property name="department" value="it"></property>
	</bean>
</beans>
