.fill-remaining-space {
    flex: 1 1 auto;
}
.controls-container {
    margin-top: 70px;
    width: 100%;
    padding: 5%;
}
.controls-container > * {
    width: 100%;
}
.add-bottom-padding{
    padding-bottom: 10px;
}
mat-radio-group mat-radio-button {
    margin-left: 5px;
}
.button-row button{
    margin: 5px;
}